@model IEnumerable<ContactManager.Models.Groups>

@{
    ViewBag.Title = "My Groups";
}

<h2>My Groups</h2>

<head>
    <script type="text/javascript" src="~/Scripts/SortAlphabetically.js"></script>
</head>

<p>
    @Html.ActionLink("Create New Group", "Create")
</p> 

@foreach (var item in Model)
{
    <hr color="gray">
    <span style="font-size:160%"><b>@Html.DisplayFor(modelItem => item.Group.GroupName)</b></span>
    <span style="font-size:120%"><i>@Html.DisplayFor(modelItem => item.Group.StatusMessage)</i></span>
    <p style="font-size:100%">
        Owner: @Html.DisplayFor(modelItem => item.Group.UserId)
    </p>
    <p>
        @Html.ActionLink("Edit Group", "Edit", new { id = item.Group.GroupId })
    </p>

    <span style="font-size:120%"><b>Group Members</b></span>
    <span>@Html.ActionLink("Add Group Member", "../GroupUsers/Create", new { id = item.Group.GroupId })</span>
    <table class="table" id="usersTable">
        <tr>
            <th>
                Username
            </th>
            <th></th>
        </tr>
        @foreach (var i in item.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.UserName)
                </td>
                <td align="right">
                    @Html.ActionLink("Remove", actionName: "../GroupUsers/Delete", controllerName: "AspNetGroupUsers", routeValues: new { id = item.Group.GroupId, username = i.UserName}, htmlAttributes: null)
                </td>
            </tr>
        }
    </table>

    <span style="font-size:120%"><b>Group Contacts</b></span>
    <span>@Html.ActionLink("Add Group Contact", "../GroupContacts/Edit", new { id = item.Group.GroupId })</span>
    <table class="table" id="contactsTable">
        <tr>
            <th onclick="sortTable(0, 'Name')">
                Name
            </th>
            <th onclick="sortTable(1, 'Address')">
                Address
            </th>
            <th onclick="sortTable(2, 'City')">
                City
            </th>
            <th onclick="sortTable(3, 'State')">
                State
            </th>
            <th onclick="sortTable(4, 'Zip')">
                Zip
            </th>
            <th onclick="sortTable(5, 'Email')">
                Email
            </th>
            <th onclick="sortTable(6, 'Owner')">
                Owner
            </th>
            <th></th>
        </tr>
        @foreach (var i in item.Contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.OwnerID)
                </td>
                <td align="right">
                    @Html.ActionLink("Remove", "../GroupContacts/Delete", new { id = i.ContactId })
                </td>
            </tr>
        }
    </table>
}